@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-container {
    @apply mb-4 flex space-x-2 rounded-md bg-slate-100 p-2;
}

.filter-item {
    @apply flex w-full items-center justify-center rounded-md px-4 py-2 text-center text-sm font-medium text-slate-500;
}

.filter-item-active {
    @apply bg-white shadow-sm text-slate-800 flex w-full items-center justify-center rounded-md px-4 py-2 text-center text-sm font-medium;
}
.fc-daygrid-day {
    height: 130px;
}

.fc-daygrid-day-events {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fc-daygrid-event {
    max-height: 20px;
    overflow: hidden;
}

.fc-daygrid-day-top {
    height: auto;
}

.fc-daygrid-day-number {
    display: inline-block;
    height: auto;
}
.fc-event {
    background-color: #00545c;
    color: white;
    border: 1px solid #00545c;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.fc-event:hover {
    background-color: #00545c;
    color: white;
}

.fc-event-title {
    font-weight: bold;
}

.fc-event-time {
    font-style: normal;
    font-weight: bold;
}

.fc-event-dot {
    display: none;
}
